@inject NewsServices newsServicies

<div class="w-44 inline">
    @if (selectedNews != null)
    {
        <div class="bg-gray-50 p-2 mt-2 rounded-2xl">
            <p><strong class="mb-2">Title:</strong> <span>@selectedNews.Title</span></p>
            <p><strong class="mb-2">Creation Date:</strong> <span>@selectedNews.Date</span></p>
            @if(newsServicies.SelectedNews is not Image)
            {
                <p style="margin-bottom:0px;"><strong class="details-label">Category:</strong> <span>@selectedNews.Category</span></p>
            }
        </div>
    }
    else
    {
        <p><em>No item selected.</em></p>
    }
</div>

<div class="mt-2.5">
    @if (selectedNews != null)
    {
        <button @onclick="ToggleBodySection" class="@getClass(showBodySection)"><b>Show Body</b></button>
        <button @onclick="ToggleImageSection" class="@getClass(showImageSection)"><b>Show Image</b></button>
    }
</div>

<div class="bg-gray-50 p-2 mt-2 rounded-2xl">
    @if (selectedNews != null && showBodySection)
    {
        <div class="blue-box">
            <p><strong class="details-label">Body:</strong> <span>@selectedNews.Body</span></p>
        </div>
    }

    @if (selectedNews != null && showImageSection)
    {
        <div class="max-w-2xl">
            @if (selectedNews is Image)
            {
                Image selectedImage = (Image) selectedNews;
                string imageName = Path.GetFileName(selectedImage.ImagePath);
                <img class="w-full" src="\Images\News Images\@imageName" alt="Image" />
            }
            else
            {
                <p> <span>No Image</span></p>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public News selectedNews { get; set; }


    private bool showBodySection = true;
    private bool showImageSection = false;

    private void ToggleBodySection()
    {
        showBodySection = true;
        showImageSection = false;
    }

    private void ToggleImageSection()
    {
        showImageSection = true;
        showBodySection = false;
    }

    private string getClass(bool enable)
    {
        if (enable)
        {
            return "bg-fw-blue hover:bg-fw-blue-hover rounded-md mr-2 text-white p-1 cursor-pointer";
        }
        else
        {
            return "bg-disable hover:bg-disable-hover rounded-md mr-2 text-white p-1 cursor-pointer";
        }
    }
}
